h1 {
    color: blue; }

    /* .divClass { 
    height: 400px;
    width: 400px; 
    background: red;} */

    #spanId {
    font-size:  18px;
    margin: 50px;}

    #thirdDiv{
      height: 500px;
      width: 600px;
      background-color: rgb(199, 226, 228);    
      padding: 50px;  
      border: 10px solid rgb(238, 193, 230); 
    }

    img {  
    width: 400px; 
   }